body {
  font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
  background: linear-gradient( 92.7deg,  rgba(245,212,212,1) 8.5%, rgba(252,251,224,1) 90.2% );
}

h1 {
  line-height: 28px;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
  color: #272142;
}

ul {
  margin: 0;
  padding: 0;
}

hr {
  margin: 20px auto;
  color: #b6e1e0;
}
footer {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: rgba(39, 33, 66, 0.4);
}

footer a {
  text-decoration: none;
  color: #ff895d;
}

a {
  text-decoration: none;
  color: #ff895d;
}
#submit-button {
  position: relative;
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-app {
  max-width: 700px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
  background: #fff;
}
.form-control {
  background: #f9f7fe;
  border: none;
  padding: 15px 20px;
  display: inline-block;
  border-radius: 6px;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  height: 50px;
  line-height: 20px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-primary {
  color: #fff;
  background: #005689;
  font-weight: 700;
  font-size: 16px;
  padding: 15px;
  border: none;
  height: 50px;
}
.weatherInfo {
  margin: 60px 0;
}
.weatherInfo li {
  font-weight: 500;
  margin-bottom: 5px;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  line-height: 20px;
  list-style: none;
}
.temperature-container {
  color: #212121;
  font-weight: 400;
  margin-left: 10px;
  font-weight: 700;
  font-size: 70px;
}

.temperature-container .active {
  color: #212121;
  text-decoration: none;
  cursor: default;
}

.temperature-container .active:hover {
  text-decoration: none;
}

.metrics {
  display: block;
  color: rgba(39, 33, 66, 0.4);
  margin-left: 10px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 400;
  position: relative;
  top: 20px;
  left: -10px;
}

.weather-forecast {
  text-align: center;
  margin: 60px 0;
}

.weather-forecast .forecast-time {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: rgba(39, 33, 66, 0.4);
}

.weather-forecast .forecast-temperature {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  color: #007cb9;
}

.weather-forecast .forecast-temperature-min {
  margin-left: 10px;
  opacity: 0.6;
}
